<app-shared-header></app-shared-header>
<div class="row">
  <div class="col-md-2">
    <app-leftnav></app-leftnav>
  </div>
  <div class="col-md-10 mrgtop5">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mrgnbtm">
            <h2>Relatives of Mr. {{baseNodeObj?.name}}</h2>
            <!-- <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="exampleInputEmail1">Name</label>
                  <input type="text" class="form-control" formControlName="task" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Create a Task">
                </div>
                <div class="form-group col-md-6">
                  <label for="exampleInputPassword1">Assignee</label>
                  <input type="text" class="form-control" formControlName="assignee" id="exampleInputPassword1" placeholder="Assignee">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-12">
                  <label for="sel1">Status:</label>
                  <select formControlName="status" class="form-control" id="sel1">
                    <option>To Be Done</option>
                    <option>In Progress</option>
                    <option>Completed</option>
                  </select>
                </div>
              </div>
              <button type="submit" [disabled]="!todoForm.valid" class="btn btn-danger">Create</button>
            </form> -->
            <div class="container">
              <input type="text" id="myInput" (input)="searchList($event.target.value)" placeholder="Search for relatives.." title="Type in a name">

              <ul class="responsive-table">
                <li class="table-header">
                  <div class="col col-1">Name</div>
                  <div class="col col-2">Relatiion</div>
                  <div class="col col-2">Actions</div>
                </li>
                <li class="table-row" *ngFor="let item of this.filteredData">
                  <div class="col col-1" >{{item.name}}</div>
                  <div class="col col-2">{{item.relation}}</div>
                  <div class="col col-2">
                    <button class="btn btn-primary btn-sm m-1"  >Edit</button>
                    <button class="btn btn-danger btn-sm"  (click)="deleteFromList(item)">Delete</button>

                  </div>
                </li>
               
              </ul>
            </div>
          </div>
        </div>
      </div>

      
  </div>
</div>

